body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}
.totals {
  max-width: 200px;
  width: 100%;
  float: left;
  margin: 20px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.select-toppings {
  max-width: 200px;
  width: 100%;
  float: left;
  margin: 20px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.select-size {
  max-width: 200px;
  width: 100%;
  float: left;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.select-item {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  float: left;
  margin: 20px;
  text-align: center;
}

.price-item {
  font-size: 20px;
  color: grey;
}
